body {
  width: 100%;
  min-height: 1000px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#333));
  font-family: brandon-grotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#body {
  width: 980px;
  margin: auto;
}

#navbar {
  height: 50px;
  line-height: 50px;
  padding: 20px;
  display: -webkit-box;
}
.nav {
  font-size: 30px;
  font-weight: bold;
  text-shadow: #EEE 3px -1px 4px;
  -webkit-box-flex: 1;
  cursor: pointer;
  margin: 0 20px;
  color: #444;
  text-align: center;
  border-radius: 30px;
  -webkit-transition: all .5s ease-in-out;
}

.nav:hover {
  background: #666;
  color: #FFF;
}

.header-line {
  position: absolute;
  width: 100%;
  border: 0;
  border-top: 1px solid #777;
  border-bottom: 1px solid #AAA;
  height: 0;
  left: 0;
}

#video {
  margin: auto;
}

h1 {
  font-size: 60px;
  color: #FFF;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 2px 3px #FFF;
  color: #E3E1E1;
}

#content {
  position: relative;
  overflow: hidden;
  min-height: 900px;
}

#slide-show {
  position: absolute;
  width: 3920px;
  -webkit-transition: left .25s ease-in-out;
}

#slide-show .slide {
  width: 980px;
  display: inline-block;
}