body {
  width: 100%;
  min-height: 1000px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#333));
  font-family: helvetica,arial,sans-serif;
}



#body {
  width: 980px;
  margin: auto;
}

#navbar {
  height: 60px;
  line-height: 60px;
  display: -webkit-box;
}
.nav {
  font-size: 20px;
  font-weight: bold;
  text-shadow: #EEE 3px -1px 4px;
  -webkit-box-flex: 1;
  cursor: pointer;
  margin: 0 30px;
  color: #444;
  text-align: center;
  border-radius: 20px;
}

.nav:hover {
  background: #666;
  color: #FFF;
}

#logo {
  width: 100px;
  -webkit-box-flex: 0;
  display: -webkit-box;
  text-shadow: #EEE 3px -1px 4px;
  -webkit-transition: all .25s ease-in-out;
  border: 10px solid transparent;
}

#logo .logo-part {
  -webkit-box-flex: 1;
  height: 30px;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#logo:hover {
  border: 10px solid #444;
  font-size: 40px;
  text-shadow: none;
}

#logo:hover .left {
  background: #444;
}

#logo:hover .right {
  background: #999;
}

#bg-video {
  margin: auto;
}

h1 {
  font-size: 60px;
  color: #FFF;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 2px 3px #FFF;
  color: #E3E1E1;
}